
element.style {
}
user agent stylesheet
script {
    display: none;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;